<!DOCTYPE html>
<html>
    <head>
		{% load staticfiles %}
        <meta charset="utf-8">
        <title>ShutIt!</title>
    </head>
    <body>
        <h1>Welcome to shutit.</h1>
        <br/><br/>
        <h2>Welcome {{ user.first_name }} {{ user.last_name }}</h2>
        <br/>
		<h3>Your Number is: </h3>
		<p id="position"></p>
        <a href="{% url 'signout' %}">Logout</a>
        <script>
            var id="{{passenger.id_number}}";
        </script>
		<script src="{% static 'shutit/js/index.js' %}"></script>
	</body>
</html>
