<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShutIt! - Sign Up</title>
    </head>
    <body>
        <div class="signup-form">
            <form action="login.html" method="post">
                <p>מספר חוגר</p>
                <input type="text" name="id_number" value="12345678" />
                <p>סיסמא</p>
                <input type="password" name="password" value="12345678" />
                <input type="submit" value="התחברות" />
            </form>
        </div>
    </body>
</html>
