<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shut!t - Staff</title>
        {% load static %}
    </head>
    <body>
        <div id="passengers">
            <!-- Passengers Placeholder -->
        </div>
        <br />
        <input type="text" id="id_number" value="">
        <button onclick="enterById()">enter to queue</button>
        </form>
        <script src="https://fb.me/react-0.14.7.js"></script>
        <script src="https://fb.me/react-dom-0.14.7.js"></script>
        <script src="{% static 'shutit/js/staff.js' %}" charset="utf-8"></script>
    </body>
</html>
